@using Microsoft.AspNetCore.Identity;
@model UserEditingDto
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Edit";
}

<div id="body" class="container-fluid">
    <h1>Edit</h1>
    <h4>User</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" autocomplete="off" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" autocomplete="off" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="YearOfBirth" class="control-label"></label>
                    <input asp-for="YearOfBirth" autocomplete="off" class="form-control" />
                    <span asp-validation-for="YearOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Balance" class="control-label"></label>
                    <input asp-for="Balance" autocomplete="off" class="form-control" />
                    <span asp-validation-for="Balance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" autocomplete="off" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LockoutEnabled" class="form-check-label"></label>
                    <input type="checkbox" name="LockoutEnabled" class="form-check-input" value="true" @(await UserManager.IsLockedOutAsync(await UserManager.FindByNameAsync(Model.UserName)) ? "checked" : string.Empty) />
                    <span asp-validation-for="LockoutEnabled" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Roles:</label>
                    <partial name="_PartialRolesSelectList" model="Model.Roles"></partial>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary w-100" />
                    <a class="btn btn-secondary w-100" asp-action="List">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
